fastapi>=0.115.0
uvicorn[standard]>=0.32.0
sqlalchemy
psycopg
pydantic[email]
requests
google-genai
python-dotenv
sentence-transformers
chromadb
openai
svix
svix
python-dotenv
pgvector
psycopg2-binary
